@model TLU.Blog.Models.DataBase.Post
@using TLU.Blog.Helpers;
@using TLU.Blog.Models.DataModels;
@using TLU.Blog.Models.DataBase;
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    const int AccountId = 15;
}
<link href="~/AdminContent/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.11.3.min (1).js"></script>
@*<script>
    setInterval(function () {
        $("#CountComment").load("/CountComment/@Model.ID");
        $("#ViewLike").load("/AutoCountLike/@Model.ID");
        $(".response").load("/AutoListComment/@Model.ID ");
    }, 10000);
</script>*@
<div class="blog-head">
    <h2>@TLUResourceManager.GetValueByKey("Post")</h2>
</div>
<div class="col-md-8 blog-left">
    <div class="blog-info">
        <div class="blog-info-text">
            <div class="blog-img">
                <img src="@Model.Image" alt="" />
            </div>
            <h4>@Model.Descrip</h4>
            <p class="snglp">
                @Model.PostContent
            </p>
        </div>
        <div class="comment-icons">
            @{ 
                ViewBag.TieuDe = new TopicModel().GetNameById(Model.TopicID);
                ViewBag.NguoiPost = new AccountModel().GetNameById(Model.AccountID);
                ViewBag.CountComment = new CommentModel().GetCountComment(Model.ID);
                if(new VotesModel().IsExist(AccountId,Model.ID))
                {
                    ViewBag.Votes = new VotesModel().IsLike(AccountId, Model.ID);
                }
                else
                {
                    var Object = new Vote();
                    Object.AccountId = AccountId;
                    Object.PostId = Model.ID;
                    Object.Like = false;
                    Object.IsActive = true;
                    new VotesModel().Create(Object);
                    ViewBag.Votes = false;
                }
                 ViewBag.CountLike = new VotesModel().CountLikeByPostId(Model.ID);

            }
            <ul>
                <li><span></span><a href="#">@ViewBag.TieuDe</a> </li>
                <li><span class="clndr"></span>@Model.PostDate</li>
                <li><span class="admin"></span> <a>@ViewBag.NguoiPost</a></li>
                <li><span class="cmnts"></span> <a id="CountComment">@ViewBag.CountComment </a>comments</li>
                <li>
                    <div id="ViewLike">
                        <div>
                            @if (!ViewBag.Votes)
                            {
                                <a class="like" id="like">@Model.Like</a>
                            }
                            else
                            {
                                <a id="like"><img src=" ~/Contents/BlogContents/images/dislike.PNG" />@Model.Like</a>
                            }
                            <script>
                                $(document).ready(function () {
                                    $("#like").click(function () {
                                        $("#ViewLike").load('@Url.Action("ViewLike", "Home",new { pId=Model.ID })')
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
        <div class="response">
            <h4>Responses</h4>
            @foreach (var item in (new CommentModel().GetCommentOrderByDate(Model.ID) as List<TLU.Blog.Models.DataBase.Comment>))
            {
                <div class="media response-info">

                    @*Thong Tin*@

                    <div class="media-left response-text-left">
                        <a href="#">
                            <img class="media-object" src="@item.Account.Profile.Avatar" alt="" />
                        </a>
                        <h5><a href="#">@(new AccountModel().GetNameById(item.AccountID))</a></h5>
                    </div>

                    @*noi Dung*@

                    <div class="media-body response-text-right">
                        <p>
                            @item.CommentContent
                        </p>
                        <ul>
                            <li>@item.CommentDate</li>
                            <li><a id="sentReply_@item.ID">Reply</a></li>
                        </ul>
                        <script>
                            $(document).ready(function(){
                                $("#Reply_@item.ID").hide();
                                $("#sentReply_@item.ID").click(function () {
                                    $("#Reply_@item.ID").toggle();
                                });
                            });
                        </script>
                        <div id="ReplyContent_@item.ID">
                            @foreach (var item2 in (new CommentModel().GetList(item.ID)))
                            {
                                <div class="media response-info">
                                    <div class="media-left response-text-left">
                                        <a href="#">
                                            <img class="media-object" src="@item2.Account.Profile.Avatar" alt="" />
                                        </a>
                                        <h5><a href="#">@(new AccountModel().GetNameById(item2.AccountID))</a></h5>
                                    </div>
                                    <div class="media-body response-text-right">
                                        <p>
                                            @item2.CommentContent
                                        </p>
                                        <ul>
                                            <li>@item2.CommentDate</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            }
                        </div>
                        <div class="media-body response-text-right" id="NewComment_@item.ID">
                            <div class="form-group" id="Reply_@item.ID">
                                <p>New Reply</p>
                                <textarea id="textarea_@item.ID" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                <ul>
                                    <li><a id="CommentReply_@item.ID">Comment</a></li>
                                </ul>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $("#CommentReply_@item.ID").click(function () {
                                    var text = document.getElementById("textarea_@item.ID").value;
                                    var str = '/ViewReply/' + text +'/' + @item.ID;
                                    $("#ReplyContent_@item.ID").load(str);
                                    $("#Reply_@item.ID").toggle();
                                    document.getElementById("textarea_@item.ID").value="";
                                    $("#CountComment").load("/CountComment/@Model.ID")
                                });
                            });
                        </script>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
        </div>
    </div>
    <div class="coment-form">
        <h4>Leave your comment</h4>
        <div>
            <textarea type="text" id="Comment" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
            <input type="submit" id="submit" value="SUBMIT">
            <script>
                $(document).ready(function(){
                    $("#submit").click(function(){
                        var text1= document.getElementById("Comment").value;
                        var str='/New_Comment/'+text1+'/'+@Model.ID;
                        $(".response").load(str);
                        document.getElementById("Comment").value="";
                        $("#CountComment").load("/CountComment/@Model.ID")
                    });
                    
                });
            </script>
        </div>
    </div>
</div>
<div class="col-md-4 single-page-right">
    <div class="category blog-ctgry">
        <h4>@TLUResourceManager.GetValueByKey("Topic")</h4>
        <div class="list-group">
            <ul>
                @*ViewBag.ListTopic in here*@
                @foreach (var item in (ViewBag.ListTopic as List<Topic>))
                {
                    <li style="list-style-type: none;">
                        <a href="single.html" class="list-group-item">@item.Name</a>
                    </li>
                }
                
            </ul>
            @*
                <a href="single.html" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="single.html" class="list-group-item">Morbi leo risus</a>
                <a href="single.html" class="list-group-item">Porta ac consectetur ac</a>
                <a href="single.html" class="list-group-item">Vestibulum at eros</a>
                <a href="single.html" class="list-group-item">Cras justo odio</a>
                <a href="single.html" class="list-group-item">Cras justo odio</a>
                <a href="single.html" class="list-group-item">Cras justo odio</a>*@
        </div>
    </div>
    <div class="recent-posts">
        <h4>Recent posts</h4>
        <div class="recent-posts-info">
            <div class="posts-left sngl-img">
                <a href="single.html"> <img src="~/Content/images/img16.jpg" class="img-responsive zoom-img" alt="" /> </a>
            </div>
            <div class="posts-right">
                <label>MARCH 5, 2015</label>
                <h5><a href="single.html">Finibus Bonorum</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing incididunt.</p>
                <a href="single.html" class="btn btn-primary hvr-rectangle-in">Read More</a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="recent-posts-info">
            <div class="posts-left sngl-img">
                <a href="single.html"> <img src="~/Content/images/img17.jpg" class="img-responsive zoom-img" alt="" /></a>
            </div>
            <div class="posts-right">
                <label>MARCH 1, 2015</label>
                <h5><a href="single.html">Finibus Bonorum</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing incididunt.</p>
                <a href="single.html" class="btn btn-primary hvr-rectangle-in">Read More</a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"> </div>



